*{
  box-sizing: border-box;
}

section{
  width: 500px;
  min-height: 350px;
  margin: 50px auto; /* solo agregue 50px para que no quede pegado al techo porque me molestaba verlo asi de pegado */
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.labelInput{
  display:flex;
  flex-direction: column;
}

label{
  font-weight:600;
  margin-bottom: 10px;
}

input{
  padding: 14px;
  border: 1px solid #9CA3AF;
  border-radius: 5px;
}

input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 3;
}

input:focus{
  /* border: 1px solid red; */
  outline: none;
}

.names{
  display:flex;
  justify-content: space-between;
}

.names > div {
  width: 48%;
}

.App div input, .names div input{
  width:100%
}

.imageLink input{
  width: 70%;
  border: none;
}
.imageLink{
  display: flex;
  align-items: center;
  border: 1px solid #9CA3AF;
  border-radius: 5px;
}

.imageLink svg{
  margin-left: 1em;
  color: #9CA3AF;
}

button{
  border:none;
  width: 20%;
  margin-left: auto;
  padding: 10px 0;
  background-color: #0DADB9;
  color:white;
  font-weight: bold;
  border-radius: 10px;
}